nav{
    background-color: black;
    padding: 7pt 50pt;
}
a{
    color: white;
}
footer{
    background-color: black;
    padding: 7pt 50pt;
}
.section{
    display: flex;
}
#one{
    background: #8c8c8c;
}
.flex-1{
    flex: 1;
}
.flex-2{
    flex: 2;
}
.padding-bottom-20 {
    padding-bottom: 40px;
}