nav{
    background-color: black;
    padding: 7pt 10pt;
}
a{
    color: white;
}
.section{
    display: flex;
}
#one{
    background-color: #8c8c8c;
}
.flex-1{
    flex: 1;
}
.padding-bottom-20{
    padding-bottom: 40px;
}